<% layout("/layouts/boilerplate") %>

    <div class="row mt-4">
        <div class="col-8 offset-2">
            <h2 class="mb-3">Update Listing</h2>
            <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" class="needs-validation" 
                novalidate enctype="multipart/form-data">

                <!-- Name -->
                <div class="mb-3">
                    <label for="title" class="form-label">Name </label>
                    <input type="text" class="form-control" name="listing[title]" id="title"
                        placeholder="Enter name of hotel" value="<%= listing.title %>" required>
                    <div class="valid-feedback">
                        Looks good !!
                    </div>
                </div>

                <!-- Description -->
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" name="listing[description]" id="description"
                        placeholder="Enter description" required><%= listing.description %></textarea>
                    <div class="valid-feedback">
                        Looks good !!
                    </div>
                </div>

                <!-- Image -->
                <div class="mb-3">
                    <img src="<%= originalImageUrl %>" alt="No img">
                </div>
                <div class="mb-3">
                    <label for="img" class="form-label">Upload New Image</label>
                    <input type="file" class="form-control" name="image" id="img">
                    <div class="valid-feedback">
                        Looks good !!
                    </div>
                </div>
            
                <div class="row">
                    <!-- Price -->
                    <div class="col-md-4 mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" name="listing[price]" id="price"
                            placeholder="Enter price" value="<%= listing.price %>" required>
                        <div class="valid-feedback">
                            Looks good !!
                        </div>
                    </div>

                    <!-- Country -->
                    <div class="col-md-8 mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" class="form-control" name="listing[country]" id="country"
                            placeholder="Enter country" value="<%= listing.country %>" required>
                        <div class="valid-feedback">
                            Looks good !!
                        </div>
                    </div>
                </div>

                <!-- Location -->
                <div class="mb-4">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" name="listing[location]" id="location"
                        placeholder="Enter location" value="<%= listing.location %>" required>
                    <div class="valid-feedback">
                        Looks good !!
                    </div>
                </div>

                <button type="submit" class="btn mb-4 edit-btn">Update</button>
            </form>
        </div>
    </div>