<% layout("/layouts/boilerplate")  %>
<body>
    <h2><%= listing.title %></h2>
    <ul>
        <li><b>Description: </b><%= listing.description %></li>
        <li><b>Image Url: </b><%= listing.image.url %></li>
        <li><b>Price: </b> &#8377;<%= listing.price.toLocaleString("en-IN") %></li> <!-- To add comma  -->
        <li><b>Location: </b><%= listing.location %></li>
        <li><b>Country: </b><%= listing.country %></li>
    </ul>
    <a href="/listings/<%= listing._id %>/edit">Edit</a>
    <a href="/listings">Back</a>

    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>